# Auto detect text files and normalize line endings to LF
* text=auto

# Scripts
*.sh text eol=lf
*.bash text eol=lf

# Binaries
*.bin binary
*.o binary
*.a binary
*.so binary
*.dylib binary
*.dll binary
*.exe binary

# Keep executables executable
.bin/** -text
node_modules/.bin/** -text
